*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: #6a994e;
 
}

.body{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 500px;
    min-height: 150px;
    border: 4px solid #386641;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #f2e8cf;
}

h2{
    margin-left: 20px;
    margin-bottom: 15px;
}
.inputfield{
    width: 75%;
    height: 40px;
    display: flex;
    padding-left: 20px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 15px;

}
.input{
    flex: 1;
    outline: none;
    border: none;
    font-size: 1.2em;
   
}
.btn{
    
    background-color: #6a994e;
    padding:10px 15px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.2em;
    font-style:normal;
    font-weight: 600;
}

ul{
    list-style:none;
    gap: none;
  
    font-size: 1.2em;
    letter-spacing: 1px;

}
ul li{
   
    width: 95%;
    padding: 12px 8px 12px 40px;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   position: relative;
 
 
}

ul li::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 15px;
    left: 8px;
    border-radius: 50%;
    background-color: yellow;
}
ul li.checked::before{
   
    background-color: red;
    
}

ul li div{
    height: 14px;
    width: 14px;
    
}


.checked{
    text-decoration-line: line-through;
}



@media( max-width:440px){
.input{
    width: 90%;
}

}